@import "reset.css";
.nav-bar {
    background-color: #313131;
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo-image{
    margin: 22px 0 21px 27px;
}
.nav-logo-text{
    color: #FFFFFF;
    padding-left: 27px;
    font-weight: bold;
    font-size: 22px;
}
.nav-menu{
    display: flex;
    align-items: center;
}
.nav-menu-link{
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 35px;
}
.nav-menu-link:hover{
    color: #14B9D5;
}
.nav-menu-link{
    color: #FFFFFF;
}
.icon{
    height: 17px;
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 27px 25px 26px 26px;
}
.header-image {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("./images/header-background.png");
    background-size: cover;
}
.header-image-title{
    padding-top: 163px;
    padding-bottom: 44px;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}
.header-image-buttons{
    display: flex;
    justify-content: center;
    padding-bottom: 74px;
}
.header-image-button{
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #89CA62;
    padding: 16px 19px 17px 19px;
}
.header-image-button-link{
    width: 170px;
    height: 55px;
    border-radius: 5px;
    background-color: #14B9D5;
    margin-left: 20px;
    padding: 16px 29px 17px 30px;
}
.gallery{
    background: #F2F2F2;
    padding-bottom: 74px;
}
.gallery-title{
    padding-top: 49px;
    padding-bottom: 72px;
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    text-transform: uppercase;
}
.gallery-images{
    margin-top: 52px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery-images-column2{
    padding-left: 30px;
    padding-right: 30px;
}
.gallery-images-column1-item1{
    padding-bottom: 30px;
}
.gallery-images-column2-item1{
    padding-bottom: 30px;
}
.gallery-images-column3-item1{
    padding-bottom: 30px;
}
.gallery-text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.main-image{
    height: 588px;
background-image: url("./images/parallax-bg.jpeg");
    background-position: 25% 25%;
    background-repeat: no-repeat;
    background-size: cover;
}
.popular-clients-items{
    display: flex;
    align-items: center;
    column-gap: 58px;
}
.main-image-content{
    padding-top: 106px;
    display: grid;
    justify-items: center;
    grid-row-gap: 87px;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.main-image-content h1:nth-child(1){
    grid-column: 1 / -1;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.main-image-content div:nth-child(2){
    grid-column: 1 / -1;
}
.main-image-content div:nth-child(3){
    grid-column: 1 / -1;
}
.top-rated-title{
    padding-top: 49px;
    padding-bottom: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.top-rated-images{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}
.top-rated-images>img{
    width: 100%;
}
.hot-news-title{
    padding-top: 48px;
    padding-bottom: 51px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #18B4CF;
}
.container-posts{
    display: flex;
    justify-content: center;
}
.posts{
    display: grid;
    justify-items: center;
    grid-template: 259px 418px 418px 259px
    / repeat(2, 554px);
    grid-gap: 44px 60px;
}
.posts div.post:nth-child(1){
    justify-self: left;
}
.posts div:nth-child(2){
    justify-self: right;
}
.posts div:nth-child(7){
    justify-self: left;
}
.posts div:nth-child(8){
    justify-self: right;
}
.post{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
    display: flex;
    align-items: center;
    text-align: right;
}
.post-item{
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.post-item-title{
    padding-top: 12px;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
}
.post-item-title1{
    padding-top: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
}
.post-item-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5B6469;
}
.post-item-text1{
    width: 380px;
    height: 140px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #5B6469;
}
.footer-info{
    margin-top: 71px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    background: #000000;
    text-align: center;
}
.footer-info-text{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer-info-logo1{
    height: 24px;
}
.footer-info-logo2{
    height: 16px;
}