@import "reset.css";
.body{
    font-family: Roboto;
    margin: 0;
}
.main{
    width: 1366px;
    margin: 0 auto;
    background-image: url("../images/background 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 1030px;
}

/*----------HEADER----------*/
.header{
    padding: 46px 0 17px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#logo-image :hover{
    content: url("../images/logo 3.png");
}
.logo{
    padding: 5px 0 5px;
    display: flex;
    align-items: flex-end;
    margin: 0;
    color: #FFFFFF
}
.logo-text{
    padding-left: 8px;
}
.logo-text :hover{
    text-decoration: none;
    color: #F26522;
    transition: 0.1ms;
}
.logo-text1{
    font-family: Roboto;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-decoration: none;
    color: #FFFFFF
}
.logo-text2{
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF
}
.header-contacts{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    margin: 0;
}
.header-contacts-text{
    font-weight: normal;
    margin-bottom: 19px;
    text-decoration: none;
    color: #FFFFFF;
}
.header-contacts-tel{
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
}
.header-contacts :hover{
    color: #F26522;
    text-decoration: none;
}

/*----------GALLERY----------*/
.gallery{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
    justify-content: space-between;
}
.gallery-items{
    margin: 0 0 37px 0;
}
.gallery-item{
    width: 100%;
    position: relative;
    height: 220px;
}
.gallery-content{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 165px;
    left: 0;
    height: 55px;
    background: #F26522;
    opacity: 0;
}
.gallery-content:hover{
    opacity: 1;
}
.gallery-link1{
    padding: 7px 0 12px 16px;
    margin: 0;
    color: #FFFFFF;
}
.gallery-link2{
    padding: 29px 16px 12px 0;
    margin: 0;
    display: flex;
    color: #FFFFFF;
}
.gallery-text1{
    text-align: center;
    margin-bottom: 8px;
}
.gallery-text2{
    text-align: center;
}
.gallery-text3{
    padding-right: 5px;
    display: inline;
    text-align: center;
}
.gallery-image-link{
    padding-left: 16px;
}
.gallery-text4{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    color: #FFFFFF;
}
.gallery-text4:hover{
    color: #F26522
}

/*----------FOOTER----------*/
.footer{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 12px;
    color: #FFFFFF;
}