.base-active{
    outline: solid 2px gray;
    border: none;
}
.current-active{
    outline: solid 2px green;
}
.error-message{
    color: red;
}
.valid-message{
    color: green;
}
.error-active{
    outline: solid 2px red;
}
.values{
    color: green;
}