@import "reset.css";
.container{
    min-width: 1200px;
}
.section-first{
    position: relative;
    padding-bottom: 247px;
    background-image: url("./images/Sections background/section-1(header).jpg");
    background-attachment: fixed;
}
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}
.logo{
    display: flex;
    text-align: center;
}
.logo-style{
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    height: 50px;
    width: 50px;
    background: #18CFAB;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-text {
    font-size: 32px;
    line-height: 48px;
    align-items: center;
    color: #FFFFFF;
}
.logo-text-color{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #18CFAB;
}
.menu-bar{
    display: flex;
    height: 120px;
}
.menu-bar-block{
    margin-right: 48px;
    display: flex;
    align-items: center;
}
.menu-bar-block:hover .menu-bar-link{
    cursor: pointer;
    border-bottom: 2px solid #18CFAB;
    color: #18CFAB;
}
.menu-bar-link{
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    border-bottom: 2px solid rgba(94, 93, 88, 0.6);
}
.menu-bar-icon{
    display: flex;
    align-items: center;
}
.icon:hover{
    cursor: pointer;
}
.text-color{
    color: #18CFAB;
}
.title-section-first{
    margin-top: 151px;
}
.title1-section-first{
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.title2-section-first{
    padding-top: 22px;
    font-weight: bold;
    font-size: 78px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.title3-section-first{
    padding-top: 22px;
    font-size: 34px;
    align-items: center;
    text-align: center;
    color: #D4D4D4;
}
.buttons-section-first{
    margin-top: 122px;
    display: flex;
    justify-content: center;
}
.button1-section-first{
    margin-right: 26px;
    background: #18CFAB;
    width: 168px;
    height: 63px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
}
.button2-section-first{
    background: #00CBF6;
    width: 168px;
    height: 63px;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-top: 5px solid #FFFFFF;
    border-radius: 5px;
}
.section-info{
    margin-top: 8px;
    width: 100%;
    height: 377px;
    display: flex;
}
.section-info1, .section-info3 {
    padding-top: 95px;
    text-align: center;
    width: 25%;
    background: #1C2A33;
}
.section-info2, .section-info4{
    text-align: center;
    padding-top: 106px;
    width: 25%;
    background: #18CFAB;
}
.section-info1-text{
    margin-top: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-info2-text{
    margin-top: 58px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
ul {
    list-style: none;
    padding-left: 0;
}
.options-title{
    margin-top: 83px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.dashes-up, .dashes-down{
    border: none;
    background-color: #18CFAB;
    height: 1px;
    width: 78px;
    color: #18CFAB;
}
.dashes-up{
    margin-left: 46%;
}
.dashes-down{
    margin-left: 47%;
}
.options-articles {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options-articles-tabs {
    width: 100%;
    display: flex;
    margin-bottom: 27px;
}
.options-articles-tabs-title {
    width: 195px;
    height: 46px;
    font-size: 15.9859px;
    line-height: 39px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: #717171;
    cursor: pointer;
    border: 1px solid #EDEFEF;
}

.options-articles-tabs-title > span {
    padding-bottom: 10px;
}
.options-articles-tabs-title:hover{
    border: 1px solid #18CFAB;
}

.options-articles-tabs-title.active {
    clip-path: polygon(0% 0%, 100% 0%, 100% 77%, 63% 77%, 50% 93%, 34% 76%, 0 76%);
    background: #18CFAB;
    height: 68px;
    padding-top: 30px;
    display: flex;
    justify-content: center;

}
[data-tab]{
    display: flex;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}
[data-tab] > p{
    margin-left: 15px;
}
.dn{
    display: none;
}
.section-second{
    margin-top: 91px;
    background-image: url("./images/Layer 21 1.png");
}
.section-second-title {
    padding-top: 127px;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-second-options{
    margin-top: 12px;
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}
.section-second-button{
    margin-bottom: 127px;
    margin-left: 45%;
}
.section-third{
    background: #E9EDEF;
}
.section-third-menu{
    height: 58px;
    margin-top: 69px;
    margin-bottom: 71px;
    display: flex;
    justify-content: center;
}
.section-third-title{
    padding-top: 95px;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.section-third-menu-link{
    padding: 14px 13px 15px 12px;
    font-size: 14px;
    line-height: 42px;
    text-decoration: none;
    color: #717171;
}
.section-third-menu-link:hover{
    color: #18CFAB;
}
.section-third-menu-info{
    text-align: center;
    border: 1px solid #DADADA;
}
.section-third-menu-info:hover{
    border: 1px solid #18CFAB;
}
.section-third-images{
    padding-top: 71px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    grid-template-rows: repeat(3, 206px);
    justify-content: center;
}
.section-third-images > img {
    width: 100%;
}
.section-third-image{
    position: relative;
}
.spacer{
    position: absolute;
    opacity: 0;
}
.spacer :hover{
    opacity: 1;
}
.section-third-button{
    text-align: center;
    padding-bottom: 99px;
}
.section-third-button-info{;
    width: 168px;
    height: 63px;
    background: #18CFAB;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #FFFFFF;
}
.section-third-button-info:before{
    content: url("images/Forma 1.png");
    padding-right: 15px;
}
.section-fourth-title{
    padding-top: 82px;
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #4E4E4E;
}
.section-fourth-images{
    margin-top: 69px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 44px;
    justify-items: center;
}
.section-fourth-image{
    position: relative;
}
.section-fourth-image:hover .section-fourth-images-date{
    background: #18CFAB;
    color: #FFFFFF;
}
.section-fourth-image:hover .section-fourth-images-title{
    color: #18CFAB;
    cursor: pointer;
}
.section-fourth-images-date{
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background: #203E38;
    color: #FFFFFF;
    text-align: center;
    align-items: center;
}
.section-fourth-images-date > div{
    padding-top: 15px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}
.section-fourth-images-title {
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
    text-align: center;
    color: #717171;
}
.section-fourth-images-link{
    text-decoration: none;
    color: #717171;
}
.section-fourth-images-info{
font-weight: 300;
font-size: 13.991px;
line-height: 39px;
text-align: center;
color: #777777;
}


.section-fifth{
    background-image: url("images/Layer 333.jpg");
}
.section-fifth-title{
    padding-top: 98px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
.section-fifth-big-slider{
    text-align: center;
}


.section-fifth-big-slider > img{
    border-radius: 100%;
    border: 5px solid #01813F;
    margin-top: 50px;
}
.section-fifth-text{
    margin-top: 36px;
    margin-bottom: 37px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}
.dn{
    display: none;
}

.active{
    display: block;
}
.section-fifth-person{
    box-sizing: border-box;
}
.section-fifth-person > img{
    width: 143px;
    height: 143px;
    border-radius: 50%;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
    border: 12px solid rgb(46,63,68);
}
.section-fifth-name{
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.section-fifth-specialist{
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #BBBBBB;
}
#btn-right:hover{
    background: #18CFAB;
}
#btn-left:hover{
    background: #18CFAB;
}
.section-fifth-small-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 104px;
}
.section-fifth-small-slider > img{
    margin: 0 16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid rgb(46,63,68);
}
.section-fifth-small-slider > button{
    font-size: 15px;
    width: 31px;
    height: 31px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: inherit;
}
.section-fifth-small-slider > img.active-img{
    margin-bottom: 15px;
}
.footer{
    /*width: 1922px;*/
    height: 121px;
    background: #22353F;
}
.footer-text{
    padding-top: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
}
