.container {
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
}
.nav{
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu{
    display: flex;
}
.nav-menu-item{
    list-style: none;
    padding-right: 70px;
}
.nav-menu-link{

    font-weight: bold;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;

}
.title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    text-align: center;
    margin: 48px 253px 38px 253px;
}
p{
    letter-spacing: 3px;
    color: #373737;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin: 0 67px 28px 67px;
}
.text{
    margin-top: 28px;
    margin-bottom: 66px;
}
.button{
    display: flex;
    justify-content: center;
}
.button-next{
    display: flex;
    justify-content: center;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
    text-decoration: none;
    margin-bottom: 82px;
}
.button-next-link{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 12px;
    margin-top: 18px;
}
.info{
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 3px;
    color: #373737;
    text-align: right;
    font-size: 16px;
    margin-right: 105px;
}
.theme{
    display: flex;
    justify-content: flex-end;

}
.theme-button{
    border-radius: 10px;
    height: 40px;
    font-size: 15px;
    background: #32ff91;
}