.container{
    width: 1280px;
    margin: 0 auto;
    font-family: sans-serif;
    background: #b936ff;
}

.nav-menu-link{
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    text-transform: lowercase;
}
.title{
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin: 48px 253px 38px 253px;
}
p{
    letter-spacing: 3px;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    margin: 0 67px 28px 67px;
}
.button-next{
    background-color: yellow;
}
