@import "reset.css";
.container{
    width: 1366px;
    max-width: 1364px;
    height: 770px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/Background-image.jpg");
    font-family: 'Ubuntu', sans-serif;
}
/*----------HEADER----------*/
.header{
    height: 58px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}
.header-title{
    padding: 22px 700px 0 79px;
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}
.header-title-link{
    text-decoration: none;
    color: #FFFFFF;
}
.header-title-link:hover{
    color: #01813F;
}
.header-options{
    margin: 0;
    padding: 22px 17px 0;
    display: flex;
}
.header-option-image{
    display: flex;
}
.header-options>div{
    padding-left: 25px;
}
svg:hover path{
    fill: #01813F;
}
.header-registration{
    margin: 0;
    padding: 25px 60px 0 0;
    display: flex;
    font-size: 14px;
    line-height: 14px;
}
.header-registration-text{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    font-style: normal;
    padding-right: 5px;
    padding-left: 5px;
}
.header-registration-link{
    text-decoration: none;
    color: #FFFFFF;
}
.header-registration-link:hover{
    color: #01813F;
}
.header-registration:before{
    display: block;
    content: url("../images/line.svg");
    padding-right: 27px;
    padding-left: 25px;
}

/*----------MAIN----------*/
.main{
    margin: 54px auto 74px;
    width: 444px;
    background: #FFFFFF;
}
.buttons{
    width: 100%;
    margin: 0 auto;
}
.buttons-links{
    padding-top: 31px;
    padding-bottom: 13px;
    padding-right: 59px;
    display: flex;
    justify-content: space-between;
}
.buttons-link{
    display: flex;
    margin: 0;
}
.buttons-link>h2{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.buttons-link>a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.buttons-link>a:hover{
    text-decoration: underline;
    color: #01813F;
}
.buttons-networks{
    display: flex;
    justify-content: center;
    margin-bottom: 31px;
}
.button-facebook{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    border-radius: 3px;
    display: flex;
    align-items: center;
    background: #305DB8;
    margin-right: 8px;
    width: 160px;
    height: 48px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.button-facebook-line{
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin: 9px 18px;
}
.button-facebook:hover{
    background: #022263;
}
.button-facebook:before{
    content: url("../images/f 1.svg");
}
.button-google{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    border-radius: 5px;
    display: flex;
    align-items: center;
    background: #DF4A32;
    width: 160px;
    height: 48px;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
}
.button-google-line {
    width: 1px;
    height: 28px;
    left: 49px;
    top: 10px;
    background: #2B0D09;
    mix-blend-mode: normal;
    opacity: 0.1;
    margin: 9px 30px 9px 7px;
}
.button-google:hover{
    background: #AB1F09;
}
.button-google:before{
    content: url("../images/G+.svg");
}
.chooseWord{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-bottom: 11px;
}
.buttons-main{
    width: 324px;
    margin: auto;
    padding-bottom: 38px;
}
.button-main-name{
    width: 300px;
    height: 46px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.button-main-name:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.button-main-lastName{
    width: 300px;
    height: 44px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.button-main-lastName:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.button-main-email{
    width: 300px;
    height: 44px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.button-main-email:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.button-main-password{
    width: 300px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.button-main-password:hover{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.button-main-checkbox{
    margin-bottom: 20px;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.button-main-checkbox-color{
    color: rgba(60, 184, 120, 0.8);
}
.button-main-checkbox-color:hover{
    color: #01813F;
    text-decoration: underline;
}
.button-footer{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
}
.button-footer:hover{
    background: #01813F;
}

