@import "reset.css";
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.container{
    width: 1280px;
    margin: 0 auto;
}
.logo{
    margin-top: 63px;
    font-size: 80px;
    line-height: 94px;
}
.colorLogoFirst{
    color: #000000;
}
.colorLogoSecond{
    color: #7FFAE5;
}
.text > p:first-child {
    margin-bottom: 32px;
}
.menu-header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 38px;
    height: 72px;
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    background: #35444F;
}
.menu-header > div {
    border-left: 1px solid #ffffff;
}
.menu-header-item2{
    padding: 26px 32px 19px 32px;
}
.menu-header-item2 :before{
    padding-left: 32px;
    border-right: 1px solid white;
}
.menu-header-item3{
    padding: 26px 38px 18px 38px;
    background: #000;
 }
.menu-header-item3:hover{
    color: #7FFAE5;
}
.menu-header-item4{
     padding: 26px 40px 19px 40px;
}
.menu-header-item5{
    border-right: 1px solid #FFFFFF;
    padding: 26px 0 19px 40px;
    padding-right: 18px;
}
.main-content {
     margin-top: 48px;
     display: flex;
 }
.aside-menu{
    display: flex;
    flex-direction: column;
    height: 399px;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
    border: 1px solid #000000;
}
.aside-menu-item1 {
    margin: 26px 194px 25px 44px;
}
.aside-menu-item2{
    padding: 27px 78px 27px 38px;
    width: 222px;
    text-align: center;
    background: #DBDBDB;
}
.aside-menu-item2:hover{
    display: flex;
    align-items: center;
    background: #DBDBDB;
}
.aside-menu-item3{
    margin: 25px 82px 52px 42px;
}
.aside-menu-item4{
    margin: 0 121px 52px 44px;
}
.aside-menu-item5{
    margin: 0 147px 30px 44px;
}
.imageText{
    margin-left: 52px;
}
.image{
    display: flex;
    justify-content: center;
    padding: 75px 268px 73px 297px;
    align-items: center;
    border: 1px solid #000000;
}
.text{
    margin-top: 37px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.navbar-menu-footer{
    width: 1280px;
    height: 69px;
    /*margin: 0 auto;*/
    background: rgba(99, 105, 110, 0.48);
    margin-top: 54px;
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 28px;
}
.menu-footer{
    width: 1280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-footer-item1{
    font-size: 28px;
    line-height: 28px
}
.menu-footer-item2{
    font-size: 28px;
    line-height: 28px
}
.menu-footer-item2-color:hover{
    color: #7FFAE5;
}
.menu-footer-item3{
    font-size: 28px;
    line-height: 28px
}.menu-footer-item4{
    font-size: 28px;
    line-height: 28px
}.menu-footer-item5{
    font-size: 28px;
    line-height: 28px
}
 .menu-footer-item6{
     margin-left: 82px;
     font-size: 24px;
     line-height: 24px;
 }

