.container {
    background: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}
.animation {
    transform: perspective(300px) rotateX(35deg);
    width: 100%;
    height: 100%;
}
.animation > div{
    position: absolute;
    animation-name: text;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    height: 50%;
}
.animation-text {
    color: #f9cd00;
    text-align: center;
    width: 700px;
    margin: 0 auto 30px;
    font-size: 50px;
}
.animation-text-block {
    text-align: left;
}
.animation-text-block2 {
    text-align: justify;
}
@keyframes text {
    0% {
        top: 80%;
    }
    100% {
        top: -80%;
    }
}